@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .form form {
    @apply grid grid-cols-1 gap-y-3  bg-white p-12 box-border w-[40Vw] text-[0.9em];
  }

  .form form > div {
    @apply grid grid-cols-1 gap-y-2;
  }

  .form form div label {
    @apply font-medium;
  }
  .form div input {
    @apply text-gray-600 text-[1em] placeholder:text-[1em] focus:outline-none  my-1  hover:transition   hover:bg-gray-200  p-2 rounded-md border border-gray-400;
  }
  .form div textarea {
    @apply focus:outline-none border border-gray-400 rounded-md p-2;
  }

  .profileEdit {
    @apply flex  flex-col gap-4;
  }

  .profileEdit > div {
    @apply grid grid-cols-1 gap-3;
  }
  .profileEdit > div > div {
    @apply grid grid-cols-3 gap-2;
  }
  .profileEdit > div > div label {
    @apply grid content-end;
  }
  .profileEdit > div > div input {
    @apply p-2 border-b-2 border-gray-400 hover:bg-gray-100 col-span-2;
  }
  .profileEdit div label {
    @apply text-[1em] text-gray-600 font-medium;
  }

  .profileEdit > div > input {
    @apply p-2 focus:outline-none hover:bg-gray-100 border-2 border-gray-400 rounded-md;
  }

  .charge {
    @apply flex;
  }
}
@layer base {
  .charge {
    @apply flex;
  }
}

@layer utilities {
  .login form {
    @apply grid grid-cols-1  box-border  gap-4 bg-white p-10  w-[31Vw];
  }
  .login form div {
    @apply grid gap-2;
  }
  .login form div label {
    @apply text-slate-800;
  }
  .login div input {
    @apply focus:outline-none  p-3  w-full my-1 text-gray-600  hover:bg-gray-200 rounded-md border border-gray-400;
  }

  .edit form > div {
    @apply md:px-20 sm:px-10 lg:px-12 xl:px-20 py-8;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .scrolling-touch {
    -webkit-overflow-scrolling: touch; /* For iOS devices */
    scroll-behavior: smooth; /* For other browsers */
  }

  .profile .address {
    @apply grid grid-cols-1 gap-2;
  }
  .profile .address > :nth-child(2) {
    @apply grid grid-cols-2 grid-rows-2 gap-x-10;
  }
  .profile .address div div {
    @apply grid grid-cols-1 grid-rows-3 auto-rows-min;
  }
  .profile .address div div input {
    @apply w-full p-1 focus:outline-none hover:bg-gray-300 shadow;
  }
  .save-button {
    @apply grid place-content-center bg-red-600;
  }
  .profile label > span {
    @apply text-red-600 text-2xl;
  }
  .profile .address label {
    @apply text-left;
  }
  .profile .address p {
    @apply text-red-600;
  }
  .scope li {
    @apply bg-gray-200 text-slate-700 p-2 rounded-md text-sm;
  }
  .qualification input {
    @apply w-full shadow-md focus:outline-none p-1 text-gray-600;
  }
  .qualification textarea {
    @apply w-full shadow-md focus:outline-none p-1 text-gray-600;
  }
  .basic input {
    @apply p-1 bg-[rgba(0,0,0,.1)];
  }
  .basic label {
    @apply text-[1em] text-slate-600;
  }
  .activity label {
    @apply text-white text-[0,9em];
  }
  .activity input {
    @apply focus:outline-none shadow p-1 text-black text-[0.85em];
  }
  .activity select {
    @apply p-1 focus:outline-none text-[0.9em];
  }
  .service-label label {
    @apply text-gray-800;
  }

  .service > div {
    @apply grid grid-cols-1 gap-2 p-2;
  }
  .service > div input[type="text"],
  .service div textarea {
    @apply p-2   rounded-lg w-full border border-gray-700 focus:outline-none hover:bg-gray-100;
  }

  .service > div > label {
    @apply text-slate-700 text-[1em] font-semibold;
  }

  .charge {
    @apply flex gap-10 bg-red-500;
  }
  .service-card {
    @apply  rounded-lg transition-all text-center hover:scale-105  shadow-gray-700 shadow-lg p-4  border border-gray-100
  }
  .service-card img {
    @apply h-[150px] w-full object-cover shadow rounded-lg ;
  }

  .service-title {
    @apply font-bold text-[1.1em] mt-2 text-gray-700 mb-2 ;
  }

  .service-description {
    @apply   h-[60px] text-gray-800 ;
  }
  .learn-more-btn {
    @apply inline-block p-2 w-[200px] rounded-md mt-3 hover:transition hover:bg-red-700  bg-red-600 text-white mb-2;
  }

  .testimonial {
    @apply w-[30%] p-4 rounded-lg transition-all text-center hover:scale-105 shadow shadow-gray-300 mb-4;
  }
  .client-avatar {
    @apply w-[80px] h-[80px] mb-2 rounded-full object-cover;
  }
  .client-name {
    @apply text-[1.1em] font-bold mb-1 flex-1 grid place-content-center;
  }
  .client-position {
    @apply text-[#666];
  }

  .featured-providers {
    @apply max-w-[800px] m-5  bg-[#fff]  rounded-lg flex gap-10;
  }
  .provider-card {
    @apply flex flex-col mb-5 p-4 border border-[#ddd] rounded-md hover:transition-all hover:scale-105;
  }
  .provider-image {
    @apply w-[100%] max-w-[200px] rounded-md mb-3;
  }

  .provider-name {
    @apply text-lg font-bold mb-1;
  }
  .provider-profession {
    @apply text-[#666] mb-3;
  }
  .provider-description {
    @apply mb-3;
  }

  .view-profile-btn {
    @apply p-[8px_12px] rounded-md mt-3 transition hover:bg-[#2980b9]  bg-[#3498db]  text-white;
  }

  .question {
    @apply text-lg font-semibold mb-3 text-blue-600;
  }
  .answer {
    @apply mb-5 text-gray-600;
  }
  .contact-info h4,
  .quick-links h4,
  .legal-info h4,
  .social-media h4 {
    @apply text-orange-600 font-bold;
  }

  .contact-info ul li,
  .quick-links ul li,
  .legal-info ul li,
  .social-media ul li {
    @apply mb-3 mt-3;
  }

  .order {
    @apply grid grid-cols-2 gap-3;
  }
  .order > div {
    @apply flex flex-col gap-5 mb-8;
  }
  .order div input,
  .order div textarea {
    @apply p-2 w-full shadow shadow-gray-800 outline-none focus:outline-none hover:bg-gray-100 text-gray-800;
  }
  .order div label {
    @apply font-semibold text-gray-600;
  }

  .join-service {
    @apply border border-gray-300 w-[60Vw] flex flex-col  bg-white;
  }
  .service-field {
    @apply flex flex-col   gap-2 p-5 shadow shadow-gray-200;
  }

  .service-field label {
    @apply text-[1em]  text-slate-600;
  }

  .service-field input,
  .service-field textarea {
    @apply border border-slate-400  p-2 rounded-md;
  }
  .service-field p {
    @apply text-slate-500;
  }

  .selected-service {
    @apply bg-white w-[60Vw] p-10 flex flex-col box-border gap-5;
  }
  .selected-field {
    @apply flex flex-col gap-3 p-4 shadow shadow-gray-100;
  }
  .selected-field input,
  .selected-field textarea {
    @apply border border-gray-700 rounded-lg p-2  focus:outline-blue-500 focus:border-none;
  }
  .selected-field label{
    @apply font-bold text-slate-600
  }

  .more-items {
    @apply flex flex-col gap-4;
  }

  .refund-policy div {
    @apply flex gap-4;
  }

  .agreement-button button,
  .order-button {
    @apply shadow shadow-gray-400 border-2 border-slate-400 text-gray-700 m-5 p-1.5 w-[150px] rounded-lg hover:bg-red-600 hover:text-white;
  }

  .agreement-field {
    @apply grid grid-cols-2 p-4 gap-3;
  }
  .agreement-field p {
    @apply text-slate-500 font-semibold;
  }
  .status-field {
    @apply flex flex-col gap-3 p-4;
  }
  .status-field label {
    @apply text-slate-600 font-semibold;
  }
  .status span {
    @apply text-slate-600 font-semibold;
  }
  .status-field  input[type="text"],
  .status-field  input[type="date"],
  .status-field  input[type="number"]  {
    @apply mt-1 block w-full border border-slate-400  p-2 rounded-md focus:outline-blue-500 focus:border-none;
  }
  .status-field  textarea {
    @apply mt-1 block w-full border border-slate-400  p-2 rounded-lg focus:outline-blue-500 focus:border-none;
  }
  .completed-task {
    @apply flex;
  }

  
  .view-status  div{
    @apply grid grid-cols-2 p-2
  }
  .view-status {
    @apply flex flex-col gap-3 border-b border-orange-400  p-4 bg-white
  }
  .view-status  h2{
    @apply text-red-600 font-semibold
  }

  .view-status div span {
    @apply text-blue-600 mb-1 font-semibold  ;
  }
  .view-status strong {
    @apply text-gray-800 ;
  }
.join-category{
  @apply flex flex-col gap-2
}
  .join-category-field{
    @apply flex flex-col
  }
  .join-category  p{
    @apply font-bold text-[1.2em] text-slate-700 bg-[#CDF4F3]
  }
  .join-category > div{
    @apply mx-6  my-2 flex flex-col gap-3
  }
  .join-category  input[type='text'],.join-category  input[type='date'], .join-category  textarea{
    @apply mt-1 block w-full border border-slate-400  p-2 rounded-md focus:outline-blue-500 focus:border-none;

  }
  .join-category  label{
    @apply font-bold text-slate-700 
  }
  /* .provider  div div{
    @apply grid grid-cols-2 p-4 
  } */
  .provider > div {
    @apply flex flex-col gap-3 border-b border-orange-400  p-4 
  }
  .provider div > p{
    @apply text-red-600 font-semibold
  }
  .provider div div p{
    @apply text-blue-600 
  }

  .provider-catgory-column{
    @apply grid grid-cols-3 p-2 gap-1
  }
  .provider-catgory-column p{
    @apply col-span-2
  }
.provider-catgory-row{
  @apply flex flex-col gap-3
}

.createProfile{
  @apply grid grid-cols-3 gap-10
}
.createProfile input,.createProfile textarea{
  @apply col-span-2 p-2 border border-gray-400 w-full rounded-md
}
.createProfile label {
  @apply text-[1.1em] text-slate-700 
}

.professional-info{
  @apply grid grid-cols-3 gap-10
}
.professional-info input,.professional-info textarea{
  @apply col-span-2 p-2 border border-gray-400 w-full rounded-md
}
.professional-info label {
  @apply text-[1.1em] text-slate-700 
}
.create-service{
  @apply grid grid-cols-5
}
.create-service h2{
  @apply font-bold mb-3
}
.create-service input, .create-service textarea{
  @apply bg-white p-2   border border-gray-400 w-full
}
.create-service p{
  @apply text-gray-400
}
.create-service :nth-child(2){
  @apply col-span-3 col-start-3
}
.price-table input, .price-table textarea{
  @apply bg-white p-2   border border-gray-400 
}
.price-table td, th{
  @apply  py-10 border h-10 border-slate-300 box-border px-6
}
.price-table th {
  @apply text-[1.1em]
}
.price-table td input[type='text'], textarea{
  @apply p-2 border border-gray-300 placeholder:text-gray-800 w-full
}
.price-table{
  @apply  box-border  
}
.price-tags{
  @apply grid grid-cols-5 gap-5 p-4 my-5
}
.price-tags :nth-child(2){
  @apply col-span-2 
}
.price-tags input{
  @apply p-2 border border-gray-400 w-full 
}
.price-tags{
  @apply grid grid-cols-4
}
.price-tags h2{
  @apply font-bold
}
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  display: grid;
  box-sizing: border-box;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding: 0;
  background-color: white;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a.active {
  color: red;
  font-weight: 600;
}

.order-dashboard a.active {
  color: blue;
  font-weight: 600;
}

/* .custom-select{
  color: black;
  appearance: none;
  border: none;
  box-shadow: inset;
  color:white;
  background-color: #2873ff;
  font-size: 20px;
  padding: 0 30px 0 15px;
} */
